.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-info {
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.product-card {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5),
    0px 0px 5px 1px rgba(115, 105, 105, 0.5);
  padding: 1rem;
}

.card-details {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 480px) {
  .card-details {
    flex-direction: column;
    align-items: center;
  }
}

.img-card {
  max-width: 220px;
}

.price-color {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block: 1rem;
}
.price-color svg {
  transform: scale(2);
}
.price-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#price {
  font-size: 1.5rem;
  font-weight: 600;
}
.color-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#color {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
}
#brand {
  color: #5d8ab698;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.8rem;
}
#p-desc {
  max-width: 30ch;
  font-size: 0.7rem;
  margin-block: 0.5rem;
  padding-right: 1rem;
}
#p-desc div {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
}
#p-desc span {
  font-size: 1rem;
}
#p-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.shop-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-card {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  background: rgb(231, 182, 6);
  color: #000;
  cursor: pointer;
  font-size: 0.7rem;
}
.btn-card:hover {
  opacity: 0.9;
}

.btn-card svg {
  margin-right: 10px;
  font-size: 1rem;
}

.no-products {
  margin-top: 2rem;
}
