.header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1rem;
}

.header ul li a:hover {
  color: #777;
}

#logo {
  margin-right: auto;
}

.logout {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.logout:hover {
  color: #777;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-count {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.nav-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.toggle-mode {
  margin-right: 2rem;
}

#checkbox {
  position: absolute;
  visibility: hidden;
}
.label {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.moon {
  color: #a1b5db;
}
.sun {
  color: #f39c12;
}
.ball {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #eee;
  border-radius: 50%;
  left: 5px;
  transition: 250ms;
}
#checkbox:checked + .label .ball {
  transform: translateX(30px);
}
