.container {
  display: grid;
}

.order-card {
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.75),
    2px 2px 10px rgba(83, 79, 79, 0.5);
  text-align: left;
  border-radius: 10px;
  margin: 10px 0;
  padding: 1rem;
}

.order_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.order-btn-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.order-btn {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  cursor: pointer;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.order-btn svg {
  font-size: 1.2rem;
}

.order-btn:hover {
  color: #777;
}

.go_back {
  place-self: center;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.go_back:hover {
  color: #777;
  cursor: pointer;
}
