.product_container {
  grid-template-areas: "side content";
  grid-template-columns: 200px 1fr;
}

.sidebar {
  grid-area: side;
}

.content {
  grid-area: content;
}

.products {
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
}

.product-item {
  border-radius: 10px;
  min-width: 15rem;
  justify-items: center;
  padding-block: 1rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5),
    2px 2px 10px rgba(83, 79, 79, 0.5);
}

.card_details {
  padding-top: 1rem;
  display: grid;
  justify-items: center;
}
.card_details > p {
  margin: 1rem 0;
  max-width: 50%;
}

.price-tag {
  align-items: center;
  gap: 0.25rem;
}
#price {
  font-weight: bold;
}
#brand {
  margin-bottom: 1rem;
}

.btn_card {
  margin-top: 1rem;
  align-self: end;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  cursor: pointer;
  align-items: center;
}
.btn_card:hover {
  color: #ccc;
}
.btn_card svg {
  margin-right: 10px;
}
