.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1rem;
}

.nav ul li a:hover {
  color: #777;
}

.logo-theme {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logout {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.logout:hover {
  color: #777;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-count {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.nav-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
