.app-container {
  position: relative;
  display: grid;
  padding: 0 3rem;
  text-align: center;
  grid-template-areas:
    "nav"
    "content";
  grid-template-rows: 100px auto 1fr;
}

.heading {
  margin-bottom: 2rem;
}
.heading h1 {
  margin: 0;
}
.heading span {
  color: #828282;
}
.heading p {
  color: #828282;
}

.user-welcome {
  text-align: left;
}

.form {
  margin-bottom: 2rem;
  justify-self: center;
  align-self: baseline;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255), 2px 2px 10px rgba(83, 79, 79);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: inherit;
}

.form-content {
  padding-block: 1rem;
}

.input-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.show-err {
  color: red;
  font-size: 0.8rem;
  text-align: left;
}
.show-err span {
  font-size: 1rem;
  color: red;
}
.form-link {
  padding-block: 1rem;
  border-top: 1px #ccc solid;
  font-size: 0.8rem;
  text-align: left;
}

#form-link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
#form-link svg {
  transform: scale(1.5);
}
#form-link:hover {
  opacity: 0.5;
  transition: 200ms;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-block {
  width: 100%;
}

.btn:hover {
  transform: scale(0.99);
}

.register {
  font-size: 0.75rem;
  justify-self: center;
}
.register:hover {
  color: red;
  cursor: pointer;
}

.not-found p {
  color: #828282;
}

.go_back {
  place-self: center;
  margin-inline: auto;
  max-width: fit-content;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.go_back:hover {
  color: #777;
  cursor: pointer;
}

/* media qureys */
@media (max-width: 600px) {
  .app-container {
    padding: 0;
  }

  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* dark theme */
#dark.app-container {
  background-color: rgb(1, 13, 22);
  color: #eee;
}
